<template name="transactionsInfo">
    <div class="transactions-info">
        <div class="transactions-info-header clearfix">
            <div class="currency">
                Your Current balance
            </div>
            <div class="amount">
                {{allMoney}}&nbsp;{{currency}}
            </div>
        </div>
        <div class="transactions-info-body">
            <div>
                {{#each accountsList}}
                    <div class="transaction clearfix">
                        <div class="currency">
                            {{title}}
                        </div>
                        <div class="amount">
                            {{balance}}&nbsp;({{currencyId}})
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</template>