<template name="transactionsInfo">
    <div class="row">
        <div class="col-md-8">
            <div class="transactions-info">
                <h3>{{allMoney}}&nbsp;{{currency}}</h3>

                {{#each accountsList}}
                    <div><h4><a href="#">{{title}}</a></h4>{{balance}}&nbsp;({{currencyId}})</div>
                {{/each}}
            </div>
            <div class="accounts-list">
                <h3>List of accounts:</h3>
                
                {{#each accounts}}
                    <div><h4>{{name}}</h4> balance: {{balance}}&nbsp;({{currencyId}})</div>
                {{/each}}
            </div>
        </div>
    </div>
</template>