.hidden {
    display: none
}

input[name=amount] {

}

span.label > a {
    color: white;
}

#transactionsPanelNav > li > a {
    padding: 5px 10px;
}
#transactionsPanelNav + div.panel.panel-default {
    border-top: 0;
    border-radius: 0 0 4px 4px;
}
#transactionsPanelNav + div.panel.panel-default .panel-body {
    padding-top: 25px;
}
.account-edit {
    /*display: none;*/
}

.account-currency {
    color: gray;
}
.dropdown-menu {
    margin-top: 80px;
}
.margin-left-5 {
    margin-left: 5px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}

#categoriesTree {
    margin-bottom: 20px;
}

ul.jqtree-tree {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 0;
}

ul.jqtree-tree ul.jqtree_common {
    margin-left: 0;
}

div.jqtree-element {
    border-top: 1px solid #ddd;
    padding: 10px 15px;
}

ul.jqtree-tree > li:nth-child(1) > div {
    border-top: none;
}

ul.jqtree-tree .jqtree-toggler{
    margin-left: 30px;
    font-size: 14px;
    top: 32%;
}

div.jqtree-element span.jqtree_common.jqtree-title {
    margin-left: 15px;
}

ul.jqtree_common ul.jqtree_common span.jqtree_common {
    margin-left: 30px;
}

ul.jqtree_common ul.jqtree_common ul.jqtree_common span.jqtree_common {
    margin-left: 45px;
}

ul.jqtree_common ul.jqtree_common ul.jqtree_common ul.jqtree_common span.jqtree_common {
    margin-left: 60px;
}

ul.jqtree_common ul.jqtree_common .jqtree-toggler{
    margin-left: 45px;
}

ul.jqtree_common ul.jqtree_common ul.jqtree_common .jqtree-toggler{
    margin-left: 60px;
}
.create-account-category-header-btn h1, a {
    display: inline-block;
}
.create-account-category-header-btn a {
    vertical-align: super;
    margin-left: 20px;
}

.typeahead.dropdown-menu {
    margin-top: 5px;
}
#csv-file, #json-file {
    padding: 10px;
    font-size: 12px;
    background: #F0F0F0;
    margin-bottom: 10px;
}
.margin-left-right-7 {
    margin: 0 7px;
}
textarea.notes {
    height: 78px;
}
.bootstrap-tagsinput {
    height: 34px;
}
.bootstrap-tagsinput .tag {
    color: #636363;
    padding: .3em .6em;
    border: 1px solid #cccccc;
}
.bootstrap-tagsinput .label-info {
    background-color: #f1f1f1;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    color: #999;
}