body {
    margin: 80px 0 0 0;
}

span.logo-left {
    color: lightgray;
}

span.logo-right {
    color: yellowgreen;
}

.hidden {
    display: none
}

input[name=amount] {

}

span.label > a {
    color: white;
}

#transactionsPanelNav > li > a {
    padding: 0 5px;
}
