<template name="accounts">
    <h1>Accounts</h1>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                {{#each accounts}}
                    <li class="list-group-item">
                        <div>
                            <span><i>{{name}}</i></span>
                            <span>&nbsp;{{> accountCurrency currency currencyId}}</span>
                            <span style="margin-left: 20px">
                                <a href="{{pathFor 'accounts'}}/edit/{{_id}}"><span class="glyphicon glyphicon-pencil"></span></a>
                            </span>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{> accountsModalCreate}}
    {{> accountsModalUpdate}}
    <a href="#" class="btn btn-primary" id="createAccount">Create Account</a>
</template>

<template name="accountCurrency">
    {{#if symbol}}
        <span>({{name}})</span>
    {{/if}}
</template>