<template name="accounts">
    <div class="create-account-category-header-btn">
        <h1>Accounts</h1>
    </div>
    <div class="row">
    {{#if accountsExists}}
        <div class="col-md-8 accounts">
            <div class="account-table-header clearfix">
                <div class="account-cell">Account Name</div>
                <div class="account-cell">Balance</div>
                <div class="account-cell">Currency</div>
                <div class="account-cell-last">&nbsp;</div>
            </div>
            <ul class="list-group">
                {{> sortableItems}}
            </ul>
            <a href="#" class="btn btn-meteor-cash" id="createAccount">Create Account</a>
        </div>
    {{else}}
        <div class="col-md-12 empty-accounts">
            <img src="images/document-account.png" alt="document"/>
            <p>Your account list is empty. Create an account now in one click</p>
            <a href="#" class="btn btn-meteor-cash" id="createAccount">Create Account</a>
        </div>
    {{/if}}
    </div>
    {{> accountsModalCreate}}
    {{> accountsModalUpdate}}
    {{> accountsModalDelete}}
</template>

<template name="accountCurrency">
    {{#if symbol}}
        {{name}}, {{code}}
    {{/if}}
</template>

<template name="sortableItems">
    {{#sortable items=accounts animation="200" handle=".account-item" ghostClass="sortable-ghost" options=accountsOptions}}
        {{> accountTree}}
    {{/sortable}}
</template>

<template name="accountTree">
    <li class="list-group-item account-item clearfix" id="{{_id}}">
        <div class="pull-left account-table clearfix">
            <div class="account-cell">{{name}}</div>
            <div class="account-cell">{{balance}}</div>
            <div class="account-cell">{{> accountCurrency currency currencyId}}</div>
        </div>
        <div class="pull-right edit-delete-account clearfix" hidden='true'>
            <a href="{{pathFor route='accounts' hash=_id}}" class="account-edit pull-left" data-toggle="tooltip" title="Edit"></a>
            <a href="{{pathFor route='accounts' hash=_id}}" class="account-delete pull-right" data-toggle="tooltip" title="Delete"></a>
        </div>
    </li>
</template>

