<template name="accounts">
    <div class="create-account-category-header-btn">
        <h1>Accounts</h1>
        <a href="#" class="btn btn-primary" id="createAccount">Create Account</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                {{#each accounts}}
                    <li class="list-group-item account-item clearfix">
                        <div class="pull-left">
                            <span>{{name}}</span>
                            <span>{{> accountCurrency currency currencyId}}</span>
                        </div>
                        <div class="pull-right clearfix" hidden='true'>
                            <a href="{{pathFor route='accounts' hash=_id}}" class="account-edit pull-left">Edit</a>
                            <a href="{{pathFor route='accounts' hash=_id}}" class="account-delete pull-right margin-left-5">Delete</a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    {{> accountsModalCreate}}
    {{> accountsModalUpdate}}
    {{> accountsModalDelete}}
</template>

<template name="accountCurrency">
    {{#if symbol}}
        <span class="account-currency">&nbsp;&rarr;&nbsp;<i>{{name}}, {{code}}</i></span>
    {{/if}}
</template>