<template name="categories">
    <div class="create-account-category-header-btn">
        <h1>Categories</h1>
    </div>
    <div class="row">
    {{#if categoriesTrue}}
        <div class="col-md-8 categories">
            <span>Category Name</span>
            <div id="categoriesTree"></div>
            <a href="#" class="btn btn-meteor-cash" id="createCategory">Create Category</a>
        </div>
    {{else}}
        <div class="col-md-12 empty-categories">
            <img src="images/document.png" alt="document"/>
            <p>Your list of categories is empty. Create a new category in one click.</p>
            <a href="#" class="btn btn-meteor-cash" id="createCategory">Create Category</a>
        </div>
    {{/if}}
    </div>
    {{> categoriesModalCreate}}
    {{> categoriesModalUpdate}}
    {{> categoriesModalDelete}}
</template>