<template name="transactionsTable">
    <div class="input-group transactions-filter">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
        <input class="form-control transactions-filter-input" type="text"/>
    </div>
    {{> reactiveTable collection=transactionRows settings=transactionRowsSettings}}
</template>

<template name="transactionsTableDate">
    {{> transactionsTableHumanDate date}}
</template>

<template name="transactionsTableHumanDate">
    <div class="date-month-day">{{humanDate.dayOfMonth}}</div>
    <div class="date-day-of-week">{{humanDate.dayOfWeek}}</div>
</template>

<template name="transactionsTableCategory">
    <div class="categories-list">
        {{#if category.name}}
            <span>{{category.name}}</span>
        {{else}}
            <br>
        {{/if}}
        <span class="categories-recipient">{{category.recipient}}{{category.payer}}</span>
    </div>
    <div class="categories-notes">
        {{category.notes}}
    </div>
</template>

<template name="transactionsTableTransaction">
    <div>
        <span>{{transaction.amount}}&nbsp;<sup>{{transaction.currency}}</sup></span>
        <span>{{transaction.amountTo}}&nbsp;<sup>{{transaction.currencyTo}}</sup></span>
    </div>
</template>

<template name="transactionsTableAccount">
    <span>{{account.name}}</span>
    <span>{{account.to}}</span>
</template>