<template name="transactionsTable">
    <div class="transactions-table-header clearfix">
        <div class="input-group transactions-filter">
            <span class="input-group-addon search">
            </span>
            <input class="form-control transactions-filter-input" placeholder="Click to search by name and etc" type="text">
        </div>
        <div class="transactions-date">
            Date: <a name="latest" class="active">Latest</a> | <a name="period">Period</a>
        </div>
        <div class="transactions-category">
            <span>Category:</span>
            <select class="form-control">
                <option>Select a category</option>
            {{#each selectCategories}}
                <option value="_id">{{title}}</option>
            {{/each}}
            </select>
        </div>
    </div>
    <div class="transactions-table-inner">
        <div class="period">
            <div class="from-to-period">
                Period: <span>December 1, 2015 &mdash; January 20, 2015</span>
            </div>
            <input type="rangeslide"/>
        </div>
        <table>
            <tr>
                <th colspan="2">Information</th>
                <th>Account name</th>
                <th>Balance</th>
            </tr>
            {{#each transactions}}
                <tr>
                    <td><span class="{{type}}"></span></td>
                    <td class="inform-td">{{#if accountTo}}<strong>
                        Transfer {{currencyId}} → {{currencyIdTo}}
                    </strong><br>
                    <span>{{rate}} transfer, {{notes}}</span>{{else}}
                        {{#if categories}}<strong>
                        {{categories}}
                    </strong><br>{{/if}}
                        <span>
                            {{#if categories}}
                                {{categories}} -
                            {{/if}}
                        {{#if payer}} {{payer}} {{/if}} {{#if notes}}, {{notes}} {{/if}} {{#if tags}}, Tags: {{tags}} {{/if}}</span>{{/if}}</td>
                    <td>{{#if accountTo}}
                        {{account}} → {{accountTo}}
                    {{else}}
                        {{account}}
                    {{/if}}</td>
                    <td class="{{type}}">{{amount}} {{currency}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</template>