<template name="transactionsTable">
    <div class="transactions-table-header clearfix">
        <div class="input-group transactions-filter">
            <span class="input-group-addon search">
            </span>
            {{> searchBox }}
        </div>
        <div class="transactions-date">
            Date: <a name="latest" class="active">Latest</a> | <a name="period">Period</a>
        </div>
        <div class="transactions-category">
            <span>Category:</span>
            <select class="form-control" id="select-filter">
                <option>Select a category</option>
            {{#each selectCategories}}
                <option value="{{_id}}">{{title}}</option>
            {{/each}}
            </select>
        </div>
    </div>
    <div class="transactions-table-inner">
        <div class="period">
            <div class="from-to-period">
                Period: <span>December 1, 2015 &mdash; January 20, 2015</span>
            </div>
            <input type="rangeslide"/>
        </div>
        {{> searchResult }}
    </div>
</template>

<template name="searchBox">
    <input class="form-control transactions-filter-input" id="search-box" placeholder="Click to search by name and etc" type="text">
</template>

<template name="searchResult">
    <table>
        <tr>
            <th colspan="2">Information</th>
            <th>Account name</th>
            <th>Balance</th>
        </tr>
        {{#each getTransactions}}
            <tr class="transaction {{_id}}">
                <td><span class="{{type}}"></span></td>
                <td class="inform-td">
                    {{#if isEqual type 'transfer'}}
                        <strong>Transfer {{currencyId}} → {{currencyIdTo}}</strong>
                        <br>
                        <span>{{notes}}</span>
                    {{else}}
                        {{#if categories}}
                            <strong>{{categories}}</strong>
                            <br>
                        {{/if}}
                        <span>
                                {{#if categories}}
                                    {{categories}}
                                {{/if}}
                            {{#if payer}}, {{payer}} {{/if}} {{#if notes}}, {{notes}} {{/if}} {{#if tags}}, Tags: {{tags}} {{/if}}</span>
                    {{/if}}
                </td>
                <td>
                {{#if isEqual type 'transfer'}}
                    {{account}} → {{accountTo}}
                {{else}}
                    {{#if isEqual type 'income'}}
                    {{accountTo}}
                    {{else}}
                    {{account}}
                    {{/if}}
                {{/if}}
                </td>
                <td class="{{type}}">
                {{#if isEqual type 'transfer'}}
                    {{amount}} {{currency}} → {{amountTo}} {{currencyTo}}
                {{else}}
                    {{#if isEqual type 'income'}}
                    {{amountTo}} {{currencyTo}}
                    {{else}}
                    {{amount}} {{currency}}
                    {{/if}}
                {{/if}}
                </td>
            </tr>
        {{/each}}
    </table>
</template>