<template name="importExport">
    <div class="col-md-6">
        <div class="create-account-category-header-btn">
            <h1>Import Transactions</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <input type="file" id="csv-file">
                <a href="#" class="btn btn-primary" id="importTransactions">Import Transactions from CSV</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="create-account-category-header-btn">
            <h1>Export Transactions</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="#" class="btn btn-primary" id="exportTransactions">Export Transactions to CSV</a>
            </div>
        </div>
    </div>
</template>