<template name="transactionsPanel">
    <button type="button" id="addTransactionButton" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        <span>Add transaction</span>
    </button>
</template>

<template name="transactionPanelButtons">
    <div class="form-group">
        <div class="pull-right">
            <button type="submit" id="saveTransactionButton" class="btn btn-success">
                Save transaction
            </button>
            <button type="reset" id="cancelTransactionButton" class="btn btn-default">
                Cancel
            </button>
        </div>

        {{#if showRemoveButton}}
            <div class="pull-left">
                <button type="button" id="removeTransactionButton" class="btn btn-danger">
                    Remove
                </button>
            </div>
        {{/if}}
    </div>
</template>

<template name="transactionsPanelInsert">
    {{#autoForm collection="Transactions" id="insertTransaction" type="insert"}}
        <div class="form-group">
            {{> afQuickField name="date"}}
            {{> afQuickField name="amount"}}
            {{> afQuickField name="categoryId"}}
            {{> afQuickField name="accountId"}}
        </div>
        {{> transactionPanelButtons}}
    {{/autoForm}}
</template>

<template name="transactionsPanelUpdate">
    {{#autoForm collection="Transactions" id="updateTransaction" type="update" doc=getSelectedRow}}
        <div class="form-group">
            {{> afQuickField name="date"}}
            {{> afQuickField name="amount"}}
            {{> afQuickField name="categoryId"}}
            {{> afQuickField name="accountId"}}
        </div>
        {{> transactionPanelButtons}}
    {{/autoForm}}
</template>